/* global classes */
*{
    margin: 0;
}
:root{
    --primary:#e65f78;
    --primary-hover:#d8576f;
}
.transation-5{
  transition: .5s;
}
.text-custom{
    color: var(--primary);
}
.btn-custome{

        background-color: var(--primary);
        border-color: var(--primary);
    
}
/* start navbar */
.nav-link.active{
   color:var(--primary) !important;
}
.nav-link:hover{
    color:var(--primary) !important;
 }
 /* end navbar */

 /* start header */
 .home{
     background: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center;
    
 }
 .home::after{
     content: '';
     position: absolute;
     top:0;
     left:0;
     right: 0;
     bottom: 0;
     background-color: rgb(0, 0, 0,0.7);
 }
 .home-items{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
     z-index:1 ;
 }
 .home-btn:hover{
    background-color:var(--primary);
    border-color:var(--primary);
 }
 .scroll--down{
     width: 30px;
     height: 50px;
     display: block;
     margin: auto;
 }
 .scroll--down span{
     height: 10px;
     width: 3px;
     background-color: white;
     display: inline-block;
     margin: 18px auto;
     animation: tran 1s infinite alternate;
 }
 .h2-class{
     height: 30px;
 }
 .h2-class::after{
     content: "";
     position: absolute;
     top: 50%;
     left:50%;
     transform: translate(-50%,-50%);
     animation: moving 10s infinite ;

 }
 @keyframes tran {
     feom{
         transform: translateY(10px);
     }
     to{
        transform: translateY(-10px);
     }
     
 }
 @keyframes moving {
    0% {
        content: "K|";
    }

    1% {
        content: "Ke|";
    }

    2% {
        content: "Ker|";
    }

    3% {
        content: "Kerr.|";
    }

    4% {
        content: "Kerri|";
    }

    5% {
        content: "Kerri |";
    }

    6% {
        content: "Kerri D|";
    }

    7% {
        content: "Kerri De|";
    }

    8% {
        content: "Kerri Deo|";
    }

    9% {
        content: "Kerri Deo.|";
    }

    10% {
        content: "Kerri Deo.|";
    }

    11% {
        content: "Kerri Deo.|";
    }

    12% {
        content: "Kerri Deo|";
    }

    14% {
        content: "Kerri De|";
    }

    15% {
        content: "Kerri D|";
    }

    16% {
        content: "Kerri |";
    }

    17% {
        content: "Kerri |";
    }

    18% {
        content: "Kerri |";
    }

    19% {
        content: "Kerri|";
    }

    20% {
        content: "Kerr|";
    }

    21% {
        content: "Ker|";
    }

    22% {
        content: "Ke|";
    }

    23% {
        content: "K|";
    }

    24% {
        content: "|";
    }

    25% {
        content: "A|";
    }


    26% {
        content: "A P|";
    }

    27% {
        content: "A Ph|";
    }

    28% {
        content: "A Pho|";
    }

    29% {
        content: "A Phot|";
    }

    30% {
        content: "A Photo|";
    }

    31% {
        content: "A Photog|";
    }

    32% {
        content: "A Photogr|";
    }

    33% {
        content: "A Photogra|";
    }

    34% {
        content: "A Photograp|";
    }

    35% {
        content: "A Photograph|";
    }

    36% {
        content: "A Photographe|";
    }

    37% {
        content: "A Photographer|";
    }

    37% {
        content: "A Photographer.|";
    }

    38% {
        content: "A Photographer.|";
    }

    39% {
        content: "A Photographer.|";
    }

    40% {
        content: "A Photographer.|";
    }

   

    41% {
        content: "A Photographer|";
    }

    42% {
        content: "A Photographe|";
    }

    43% {
        content: "A Photograph|";
    }

    44% {
        content: "A Photograp|";
    }

    45% {
        content: "A Photogra|";
    }

    46% {
        content: "A Photogr|";
    }

    47% {
        content: "A Photo|";
    }

    48% {
        content: "A Phot|";
    }

    49% {
        content: "A Pho|";
    }

    50% {
        content: "A Ph|";
    }

    51% {
        content: "A P|";
    }

    52% {
        content: "A |";
    }

    53% {
        content: "A G|";
    }

    54% {
        content: "A Gr|";
    }

    55% {
        content: "A Gra|";
    }

    56% {
        content: "A Grap|";
    }

    57% {
        content: "A Graph|";
    }

    58% {
        content: "A Graphi|";
    }

    59% {
        content: "A Graphic|";
    }

    60% {
        content: "A Graphic |";
    }

    61% {
        content: "A Graphic D|";
    }

    62% {
        content: "A Graphic De|";
    }

    63% {
        content: "A Graphic Des|";
    }

    64% {
        content: "A Graphic Desi|";
    }

    65% {
        content: "A Graphic Desig|";
    }

    66% {
        content: "A Graphic Design|";
    }

    67% {
        content: "A Graphic Designe|";
    }

    68% {
        content: "A Graphic Designer|";
    }

    69% {
        content: "A Graphic Designer.|";
    }

    70% {
        content: "A Graphic Designer.|";
    }
    71% {
        content: "A Graphic Designer.|";
    }
    72% {
        content: "A Graphic Designer.|";
    }
    73% {
        content: "A Graphic Designer|";
    }

    74% {
        content: "A Graphic Designe|";
    }

    75% {
        content: "A Graphic Design|";
    }

    76% {
        content: "A Graphic Desig|";
    }

    77% {
        content: "A Graphic Desi|";
    }

    78% {
        content: "A Graphic Des|";
    }

    79% {
        content: "A Graphic De|";
    }

    80% {
        content: "A Graphic D|";
    }

    81% {
        content: "A Graphic |";
    }

    82% {
        content: "A Graphic|";
    }

    83% {
        content: "A Graphi|";
    }

    84% {
        content: "A Graph|";
    }

    85% {
        content: "A Grap|";
    }

    86% {
        content: "A Gra|";
    }

    87% {
        content: "A Gr|";
    }

    88% {
        content: "A G|";
    }

    89% {
        content: "A |";
    }

    90% {
        content: "A|";
    }

    91% {
        content: "|";
    }

    92% {
        content: "K|";
    }

    93% {
        content: "Ke|";
    }

    94% {
        content: "Ker|";
    }

    95% {
        content: "Kerr|";
    }

    96% {
        content: "Kerri|";
    }

    97% {
        content: "Kerri.|";
    }

    98% {
        content: "Kerri.|";
    }

    99% {
        content: "Kerri.|";
    }

    100% {
        content: "Kerri.|";
    }
 }
 /* end header */

  /* start about */
  .about li{
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
  }
.about li:hover a{
      color:var(--primary) !important;
  }
  /* end about */
  /* start services */
  .services--box{
    cursor: pointer ;
  }
  .services--box h3{
      padding-bottom: 10px;
  }
  .services--box h3::after{
      content: '';
      position: absolute;
      width: 50px;
      height: 2px;
      bottom: -4px;
      
      background-color: var(--primary);
      left: calc(50% - 25px);     
      
  }
  .services--box:hover h3::after{
      width: 60px;
      left: calc(50% - 30px);
  }
  /* end services */

  /* here section */
  .here-me:hover a{
      background-color: var(--primary-hover);
      border-color:var(--primary-hover);
  }
  /* end section */
  /* start client section */
  .client-img{
      width: 50px;
      width: fit-content;
  }
   /* end client section */

   /* strat work section */
.work ul .active {
    background-color: var(--primary) !important;
    
    padding: 5px;
    border-radius:5px ;
}
.work ul .active a{
    color: white !important;
}

.work ul .unli:hover {
    background-color: var(--primary) !important;
    
    padding: 5px;
    border-radius:5px ;
}
.work ul .unli:hover a{
    color: white !important;
}
.work .item .overlay{
   position:absolute;
   top:0;
   left:0;
   right: 0;
   bottom: 0;
  
   background-color: rgb(0, 0, 0,.7);
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   transform: translateY(100%);
   transition: 0.5s;
}
.work .item:hover .overlay{
    transform: translateY(0);
}
.work .item{
    cursor: pointer;
    margin: 20px;
}
.work .item img{
    height: 100%;
    object-fit: cover;
}
   /* end work section */

   /* start contect */
   .contact input:focus,
   .contact textarea:focus{
       border-color: var(--primary) !important;
       border-width: 2px;
       box-shadow: none;
   }
   /* end contect */

   
/* start footer  */

footer ul li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
footer ul li:hover a{
    color: var(--primary)!important;
}
/* end footer  */
